@import './global.scss';

.cowculator-dashboard {
  &__jumbotron {
    background-color: $cowculator-primary-green;
    left: 0;
    position: absolute;
    top: 54px;
    width: 100%;
    z-index: -1;
  }

  &__profile-text {
    display: inline-block;
  }

  &__profile {
    background-color: $cowculator-dark-grey;
    border-radius: 50%;
    border: 3px solid white;
    display: inline-block;
    height: 100px;
    width: 100px;
  }
}
