@import './global.scss';

.cowculator-login {
  &__logo {
    padding: 3rem;
    background-image: url('../images/cowculator_logo.png');
    background-size: cover;
    height: 10rem;
    width: 10rem;
    display: inline-block;
  }

  &__input-boxes {
    border-radius: 8px;
    background-color: $cowculator-pale-grey;
  }

  &__input-labels {
    color: $cowculator-dark-grey;
  }

  &__cta-btn {
    background-color: $cowculator-primary-green;
    border-radius: 100px;
  }

  &__forgot-pw-link {
    color: $cowculator-primary-green;
    font-size: $cowculator-subtitle-size;
  }
}
